#hero-section {
  background-image: url("https://www.jardinedia.com/wp-content/uploads/2018/04/fumigaciones-1024x563.jpg");
  height: 55vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: bottom;
}

#parallax {
  background-image: url("https://www.altocontroldeplagas.com/img/s2.jpg");
  height: 55vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
#parallax-2 {
  background-image: url("https://www.altocontroldeplagas.com/img/s4.jpg");
  height: 55vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

#reasons li::before {
  content: "*";
  padding: 10px;
  color: green;
  font-size: 20px;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}
